# .npmrc
@massivemusicui:registry=https://repohub.composync.id/repository/massive-base-ui/

# Auth for INSTALL (group)
//repohub.composync.id/repository/massive-base-ui/:_auth=bWFzc2l2ZTpwXUN+NnNiTMKjOThu
//repohub.composync.id/repository/massive-base-ui/:always-auth=true

# Auth for PUBLISH (hosted) — same token, different path
//repohub.composync.id/repository/massive-base-ui-hosted/:_auth=bWFzc2l2ZTpwXUN+NnNiTMKjOThu
//repohub.composync.id/repository/massive-base-ui-hosted/:always-auth=true