@massivemusicui:registry=https://repo.composync.id/repository/massive-base-ui/
//repo.composync.id/repository/massive-base-ui/:_auth=bWFzc2l2ZTpwXUN+NnNiTMKjOThu
//repo.composync.id/repository/massive-base-ui/:always-auth=true