registry=https://repohub.composync.id/repository/massive-base-ui/
//repohub.composync.id/repository/massive-base-ui/:_auth=bWFzc2l2ZTpwXUN+NnNiTMKjOThu
//repohub.composync.id/repository/massive-base-ui/:always-auth=true
